*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
Plugins/JMarkovJunior/ThirdParty/** filter=lfs diff=lfs merge=lfs -text
